<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!--%c        输出所属类的全名，可在修改为 %d{Num} ,Num类名输出的维-->
    <!--（如："study.log4j.sample.SimpleSample",%C{2}将输出sample.SimpleSample）-->
    <!--%d       输出日志时间其格式为 %d{yyyy-MM-dd HH:mm:ss,SSS}，可指定格式如%d{HH:mm:ss}-->
    <!--%l        输出日志事件发生位置，包括类目名、发生线程，在代码中的行数-->
    <!--%n       换行符-->
    <!--%m      输出代码指定信息，如info(“message”),输出message-->
    <!--%p       输出优先级，即 FATAL ,ERROR等-->
    <!--%r        输出从启动到显示该log信息所耗费的毫秒数-->
    <!--%t        输出产生该日志事件的线程名-->
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyyMMdd HH:mm:ss,SSS}][%p][%l]%n %m%n%n"/>
        </layout>
    </appender>

    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <!--<param name="File" value="/log/weChat/weChat.log"/>-->
        <param name="File" value="E:\\log\\weChat.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyyMMdd HH:mm:ss,SSS}][%p][%l]%n %m%n%n"/>
        </layout>
    </appender>

    <appender name="FILE_ERR" class="org.apache.log4j.DailyRollingFileAppender">
        <!--<param name="File" value="/log/weChat/weChat_error.log"/>-->
        <param name="File" value="E:\\log\\weChat_error.log"/>
        <param name="Threshold" value="ERROR"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyyMMdd HH:mm:ss,SSS}][%p][%l]%n message:%m%n%n"/>
        </layout>
    </appender>

    <root>
        <priority value="INFO"/>
       	<appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="FILE_ERR"/>
    </root>

</log4j:configuration>
